h1, input#page-title {
    font-size: 8em; /* タイトルのフォントサイズを4倍に */
    margin: 20px 0;
}

input.menu-name {
    font-size: 3em; /* メニュー名のフォントサイズを2倍に */
    margin: 10px 0;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-sizing: border-box;
}
